<section class="property-details py-5 mt-6">
    <div class="container">
        @if (property) {
        <div>
            <div class=" flex justify-center">

                <p-dialog header="Header" [modal]="true" [(visible)]="visibleImagesDialog" [style]="{ width: '50rem' }"
                    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
                    <div class="galleria">

                        <p-galleria [value]="property.images" [responsiveOptions]="responsiveOptions" [numVisible]="3"
                            [showThumbnails]="false" [containerStyle]="{ 'max-width': '100%' }"
                            [style]="{ 'width': '100%' }" [circular]="true" [showItemNavigators]="false"
                            [showIndicators]="true" [thumbnailsPosition]="'bottom'">

                            <ng-template pTemplate="item" let-image>
                                <div class="gallery-item-wrapper">
                                    <!-- <img [src]="image" alt="صورة العقار" class="gallery-image" /> -->
                                    <p-image [src]="image" alt="Image" width="100%" [preview]="true" />
                                </div>
                            </ng-template>

                        </p-galleria>


                    </div>
                </p-dialog>

                <p-dialog [className]="'video-dialog'" header="فيديو" [modal]="true" [(visible)]="visibleImagesVideos"
                    [style]="{ width: '70rem',height:'500px' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
                    [maximizable]="true">
                    <div class="embed-responsive embed-responsive-16by9 w-100 h-100">
                        <iframe class="embed-responsive-item w-100  h-100" style="height: 100%;"
                            src=" ../../../../../assets/video12.mp4" allowfullscreen></iframe>
                    </div>
                </p-dialog>
            </div>
            <div class="card-item text-center bg-white rounded-4 shadow py-4 px-5 animate-up">
                <div class="row">

                    <div class="col-12 col-md-8 p-0 text-end">
                        <h3 class="text-end">{{property.title}}</h3>

                        <div class="text-end d-flex  justify-content-start align-items-center gap-2 mt-3">
                            <h6 class="fs-1 mb-0">المالك :</h6>
                            <p class="fs-1 mb-0">{{property.ownerFullName}}</p>
                        </div>

                        <div class="text-end d-flex  justify-content-start align-items-start gap-2 mt-3">
                            <h6 class="fs-1 mb-0">الرقم العقاري :</h6>
                            <p class="fs-1 mb-0 lh-1  ">{{property.propertyNumber}}</p>
                        </div>

                        <div class="text-end d-flex  justify-content-start align-items-start gap-2 mt-3">
                            <h6 class="fs-1 mb-0">السعر :</h6>
                            <p class="fs-1 mb-0 lh-1 text-currency fw-bold">{{property.price | currency}}</p>
                        </div>

                        <div
                            class="text-end d-flex flex-column flex-md-row justify-content-start align-items-start gap-2 mt-3">
                            <h6 class="fs-1 mb-0">الموقع :</h6>
                            <p class="fs-1 mb-0 lh-1 ">{{property.location }} / {{property.address}}
                            </p>
                        </div>

                        <div class="text-end d-flex   justify-content-start align-items-start gap-2 mt-3">
                            <h6 class="fs-1 mb-0">المساحة :</h6>
                            <p class="fs-1 mb-0 lh-1 ">{{property.area }}م
                            </p>
                        </div>

                        <div class="text-end d-flex  justify-content-start align-items-start gap-2 mt-3">
                            <h6 class="fs-1 mb-0">الصنف :</h6>
                            <p class="fs-1 mb-0 lh-1 ">{{property.categoryName }}
                            </p>
                        </div>

                        <div
                            class="text-end d-flex flex-column flex-md-row justify-content-start align-items-start gap-2 mt-3">
                            <h6 class="fs-1 mb-0">الوصف :</h6>
                            <p class="fs-1 mb-0 lh-lg">{{property.description }}
                            </p>
                        </div>

                        <div class="text-end d-flex   justify-content-start align-items-start gap-2 my-3">
                            <h6 class="fs-1 mb-0">التقييم :</h6>
                            @if(property.rating <= 0) { <p>
                                <p class="fs-1 mb-0 lh-1 text-warning">لا يوجد تقييمات بعد</p>
                                } @else {
                                <app-star [rating]="property.rating"></app-star>
                                }
                        </div>
                    </div>

                    <div class=" col-12 col-md-4 p-0 rounded-4">
                        <div class="img-box rounded-4 overflow-hidden">
                            <img [src]="property.mainImage" alt="" height="200" class="img-fluid" />
                        </div>
                        @if (property.images.length > 0) {
                        <p-button (click)=" showImages()" label="عرض الصور" pButton
                            class="btn btn-primary rounded-3 mt-3 w-100 text-center py-1">
                            <i class="fa-solid fs-1 fa-image px-1"></i>
                        </p-button>
                        }
                        @if (!property.videoUrl?.length) {
                        <p-button (click)=" showVideo()" label="عرض الفيديو" pButton
                            class="btn btn-primary  rounded-3 mt-3 w-100 text-center py-1">
                            <i class="fa-solid fa-video"></i>
                        </p-button>

                        }

                        @if(!isRating){
                        <p-button (click)="ratingDialog()" label="اضافة تقييم" pButton
                            class="btn btn-primary  rounded-3 mt-3 w-100 text-center py-1">
                            <i class="fa-solid fa-star text-warning-2"></i>
                        </p-button>
                        }
                    </div>
                    <div class="col-12   p-0 text-end">
                        <div class="text-end d-flex   justify-content-end align-items-center gap-2 mt-3">
                            @if(!inFavorite){

                            <p-button icon="fa-regular fa-heart" aria-label="" (click)="AddTofavorite()" />

                            }
                            @else{
                            <p-button icon="fa-solid fa-user text-danger" aria-label=""
                                (click)="RemoveFromFavorite()" />
                            }
                            <p-button icon="pi pi-share-alt" aria-label="" />
                        </div>
                    </div>

                    <div class="col-12  p-0 text-end mt-3">
                        <div class="row d-flex">

                            <div class=" comments-section   col-sm-7 d-flex flex-column gap-3">

                                <app-comments-section [comments]="comments.items" (commentToParent)="AddComment($event)"
                                    (onUpdateComment)="showVisibleUpdateCommentPoppDialog($event)"></app-comments-section>

                            </div>
                            <div class="rating-section col-md-5 d-flex flex-column  ">

                                <app-rating-section [ratings]="ratings"></app-rating-section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>


<p-dialog [ngClass]="{'dialog': true}" header="تعديل التعليق" [modal]="false" [(visible)]="visibleUpdateCommentPopp"
    [style]="{ width: '25rem' }" dir="rtl">
    <span class="p-text-secondary block mb-8">قم بتحديث تعليقك.</span>

    <p-floatlabel variant="on" [ngClass]="{'my-3': true}">
        <input pInputText id="on_label" [ngStyle]="{ width: '100%' }" [(ngModel)]="commentText" autocomplete="off" />
        <label for="on_label" class="me-3"> تعليق</label>
    </p-floatlabel>

    <div class="flex justify-end gap-2 w-100">
        <p-button label="تحديث" (click)="saveComment()" [ngClass]="{'p-3': true}" />
        <p-button label="إلغاء" (click)="visibleUpdateCommentPopp = false" severity="secondary"
            [ngClass]="{'p-3 btn-close': true}" />
    </div>
</p-dialog>


<p-dialog header="إضافة تقييم" [modal]="true" [(visible)]="visibleRatingDialog" [style]="{ width: '25rem' }">

    <div class="flex items-center gap-4 my-4 ">
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [ngStyle]="{ width: '100%' }" [(ngModel)]="ratingText" autocomplete="off" />
            <label for="on_label" class="me-3">نص من ابداعك</label>
        </p-floatlabel>
    </div>
    <div class="flex flex-col gap-2 mb-6">
        <label class="font-semibold text-gray-700 text-base">التقييم</label>
        <div class="flex items-center gap-2">
            <p-rating [(ngModel)]="ratingValue" class="text-3xl fs-3">
                <ng-template pTemplate="onicon">
                    😍
                </ng-template>
                <ng-template pTemplate="officon">
                    😑
                </ng-template>
            </p-rating>
        </div>
    </div>

    <div class="flex justify-end gap-2">
        <p-button [ngClass]="{'btn btn-primary mx-3': true}" label="حفظ" (click)="AddNewRating()" />
        <p-button [ngClass]="{'btn btn-primary text-light': true}" label="إلغاء" severity="secondary"
            (click)="visibleRatingDialog = false" />
    </div>
</p-dialog>


<!-- SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS -->