<nav class="navbar navbar-expand-lg navbar-white fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/icons/logo.png" alt="" width="30" />
            <span class="text-1000 fs-1 ms-2 fw-bold">مكتب عقاري</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="تبديل التنقل">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
                @if(isLoggedIn){

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['properties']">العقارات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">عقارات للإيجار</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الخدمات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['favorite']">المفضلة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">من نحن</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">اتصل بنا</a>
                </li>
                }
            </ul>

            <div class="m-sm-2">
                @if(!isLoggedIn){
                <a [routerLink]="['/auth/login']" class="btn btn-link text-1000 fw-medium order-1 order-lg-0"
                    type="button">
                    تسجيل الدخول
                </a>
                <a [routerLink]="['/auth/register']" class="btn btn-primary rounded-pill order-0" type="submit">
                    إنشاء حساب
                </a>
                }
                @else{
                <button (click)="Logout()" class="btn btn-primary rounded-pill order-0" type="submit">
                    تسجيل الخروج
                </button>
                }
            </div>
        </div>
    </div>
</nav>