<p-confirmdialog />
<p-message severity="success" [life]="3000" text="تم اضافة العقار بنجاح" [closable]="false"
    *ngIf="successfullyAddedProperty">
</p-message>

<p-message severity="success" [life]="3000" text="تم تحديث العقار بنجاح" [closable]="false"
    *ngIf="successfullyUpdateProperty">
</p-message>


<p-table [value]="filteredProperties" [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords" [lazy]="true"
    (onLazyLoad)="loadProperties($event)" [loading]="loading" [responsiveLayout]="'scroll'" [rowHover]="true"
    [tableStyle]="{ 'min-width': '60rem' }" styleClass="p-datatable-striped" class="properties">

    <ng-template pTemplate="caption">
        <div class="flex justify-between items-center">
            <h5 class="m-0">قائمة العقارات</h5>

        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            @for (col of PROPERTY_HEADERS; track col) {
            <th>{{col.header}}</th>
            }
            <th style="width: 180px; text-align: center;">العمليات</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-property>
        <tr>
            <td>{{ property.title }}</td>
            <td>{{property.location}}</td>
            <td class=" badge rounded-3 p-2  bg-{{(property.propertyStatus | propertyStatusAr).color}}">{{
                (property.propertyStatus | propertyStatusAr).text }}</td>
            <td>{{ property.area }} م²</td>
            <td>{{ property.price | number:'1.0-0' }} $</td>
            <td>{{ property.ownerFullName }}</td>
            <td>{{ property.ownerNationalId }}</td>
            <p-button styleClass="custom-btn" icon="pi pi-trash" (click)="confirmDelete($event, property.propertyId)"
                severity="danger" [rounded]="true" [text]="true" />
            <a pButton icon="pi pi-pencil" severity="success" class="operations-btn" [rounded]="true" [text]="true"
                [routerLink]="['edit', property.propertyId]">
            </a>

            <a pButton icon="pi pi-info-circle" class="operations-btn" severity="info" [rounded]="true" [text]="true"
                [routerLink]="['details', property.propertyId]">
            </a>

        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" class="text-center">لا يوجد بيانات لعرضها</td>
        </tr>
    </ng-template>

</p-table>