<aside class="left-sidebar" dir="rtl">
    <div>
        <!-- شعار -->
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="../../../../assets/dashboard/images/logos/dark-logo.svg" width="180" alt="الشعار" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8" (click)="closeSidebar()"></i>
            </div>
        </div>

        <!-- قائمة جانبية -->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">

                <li class="nav-small-cap"><span class="hide-menu">الرئيسية</span></li>
                <li class="sidebar-item" routerLinkActive="router-link-active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <a class="sidebar-link" [routerLink]="['/dashboard']">
                        <i class="ti ti-layout-dashboard text-us-primary"></i><span class="hide-menu">لوحة التحكم</span>
                    </a>
                </li>

                <li class="nav-small-cap"><span class="hide-menu">العناصر الأساسية</span></li>
                <li class="sidebar-item" [ngClass]="{ 'active': isPropertyDropdownOpen }">
                    <a class="sidebar-link" href="javascript:void(0);" (click)="togglePropertyDropdown()">
                        <i class="ti ti-home-2 text-us-primary"></i>
                        <span class="hide-menu">إدارة العقارات</span>
                        <i class="ti ti-chevron-down ms-auto"></i>
                    </a>
                    <ul *ngIf="isPropertyDropdownOpen" class="sidebar-submenu p-0">
                        <li routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="sidebar-link" [routerLink]="['manage-properties']">
                                <i class="ti ti-building-estate text-us-success"></i>
                                <span class="hide-menu">قائمة العقارات</span>
                            </a>
                        </li>

                        <li routerLinkActive="router-link-active">
                            <a class="sidebar-link" [routerLink]="['manage-properties/add-property']">
                                <i class="ti ti-home-plus text-us-success"></i>
                                <span class="hide-menu">إضافة عقار جديد</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item" [ngClass]="{ 'active': isCustomersDropdownOpen }">
                    <a class="sidebar-link" href="javascript:void(0);" (click)="toggleCustomersDropdown()">
                        <i class="ti ti-users text-us-primary"></i>
                        <span class="hide-menu">إدارة العملاء</span>
                        <i class="ti ti-chevron-down ms-auto"></i>
                    </a>
                    <ul *ngIf="isCustomersDropdownOpen" class="sidebar-submenu p-0">
                        <li class="sidebar-item" routerLinkActive="router-link-active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="sidebar-link" [routerLink]="['customers']">
                                <i class="ti ti-list-details text-us-primary"></i>
                                <span class="hide-menu">قائمة العملاء</span>
                            </a>
                        </li>
                        <li class="sidebar-item" routerLinkActive="router-link-active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="sidebar-link" [routerLink]="['customers/add']">
                                <i class="ti ti-user-plus text-us-primary"></i>
                                <span class="hide-menu">إضافة عميل جديد</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-small-cap"><span class="hide-menu">المعاملات</span></li>

                <li class="sidebar-item" [ngClass]="{ 'active': isTransactionsDropdownOpen }">
                    <a class="sidebar-link" href="javascript:void(0);" (click)="toggleTransactionsDropdown()">
                        <i class="ti ti-exchange text-us-primary"></i>
                        <span class="hide-menu">
                            المعاملات (
                            <span class="text-us-success" style="display: inline; white-space: nowrap;">بيع</span> /
                            <span class="text-danger" style="display: inline; white-space: nowrap;">إيجار</span>
                            )
                        </span>
                        <i class="ti ti-chevron-down ms-auto"></i>
                    </a>
                    <ul *ngIf="isTransactionsDropdownOpen" class="sidebar-submenu p-0">
                        <li class="sidebar-item" routerLinkActive="router-link-active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="sidebar-link" [routerLink]="['transactions/sales']">
                                <i class="ti ti-shopping-cart text-us-success"></i>
                                <span class="hide-menu">قائمة المبيعات</span>
                            </a>
                        </li>
                        <li routerLinkActive="router-link-active">
                            <a class="sidebar-link" [routerLink]="['transactions/sales/add']">
                                <i class="ti ti-home-plus text-us-success"></i>
                                <span class="hide-menu">إضافة بيع جديد</span>
                            </a>
                        </li>
                        <li class="sidebar-item" routerLinkActive="router-link-active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="sidebar-link" [routerLink]="['rentals']">
                                <i class="ti ti-key text-us-warning"></i>
                                <span class="hide-menu">قائمة الإيجارات</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="./payments.html">
                        <i class="ti ti-credit-card"></i><span class="hide-menu">وسائل الدفع</span>
                    </a>
                </li>

                <li class="nav-small-cap"><span class="hide-menu">إدارة النظام</span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./users.html">
                        <i class="ti ti-shield-lock"></i><span class="hide-menu">المستخدمون</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" [routerLink]="['categories']">
                        <i class="ti ti-tags"></i><span class="hide-menu">الفئات</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./locations.html">
                        <i class="ti ti-map"></i><span class="hide-menu">المدن والمناطق</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./ratings.html">
                        <i class="ti ti-star"></i><span class="hide-menu">التقييمات</span>
                    </a>
                </li>

                <li class="nav-small-cap"><span class="hide-menu">أخرى</span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./reports.html">
                        <i class="ti ti-chart-pie"></i><span class="hide-menu">الإحصائيات والتقارير</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./settings.html">
                        <i class="ti ti-settings"></i><span class="hide-menu">الإعدادات</span>
                    </a>
                </li>

                <li class="nav-small-cap"><span class="hide-menu">المصادقة</span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./login.html">
                        <i class="ti ti-login"></i><span class="hide-menu">تسجيل الدخول</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="./register.html">
                        <i class="ti ti-user-plus"></i><span class="hide-menu">إنشاء حساب</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>