<div *ngIf="my" class=" container mx-auto px-4 py-5 mt-5 mt-sm-8  shadow rounded-3 bg-white" style="max-width: 700px;">

    <!-- الصورة والاسم -->
    <div class="d-flex align-items-center mb-4 ">
        <div class="position-relative me-4" style="width: 120px; height: 120px;">
            <img [src]="my.imageUrl" alt="{{ my.fullName }}"
                class="rounded-circle border w-100 h-100 object-fit-cover" />

            <!-- زر تغيير الصورة -->
            <button class=" btn-change-image btn btn-sm btn-light shadow position-absolute   rounded-circle"
                title="تغيير الصورة">
                <i class="fa-solid fa-camera"></i>
            </button>
        </div>


        <div class="px-2">
            <h2 class="mb-1">{{ my.fullName || 'الاسم الكامل' }}</h2>
            <p class="text-muted mb-0">@{{ my.username }}</p>
        </div>
    </div>

    <!-- تفاصيل المستخدم -->
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">البريد الإلكتروني</label>
            <div>{{ my.email || 'غير متوفر' }}</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">رقم الهاتف</label>
            <div>{{ my.phoneNumber || 'غير متوفر' }}</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">رقم الهوية</label>
            <div>{{ my.nationalID || 'غير متوفر' }}</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">الجنس</label>
            <div>
                {{ my.gender ? (my.gender == 'Male' ? 'ذكر' : 'أنثى') : 'غير متوفر' }}
            </div>

        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">تاريخ الميلاد</label>
            <div>{{ my.dateOfBirth ? (my.dateOfBirth | date:'yyyy-MM-dd') : 'غير متوفر' }}</div>
        </div>
    </div>

    <!-- زر التعديل -->
    <div class="text-end ">
        <a [routerLink]="['/my/edite']" routerLinkActive="router-link-active"
            class="btn btn-primary w-100 w-sm-50 btn btn-primary rounded-pill order-0 ">

            <i class="bi bi-pencil-square me-1"></i>
            تعديل الملف الشخصي
        </a>
    </div>

</div>