<div class="container">
    <!-- رأس الصفحة -->
    <div class="  mb-4">
        <h2>إضافة عملية بيع جديدة</h2>

    </div>

    <!-- معلومات البيع -->
    <div class="card p-2 ">
        @for (error of formErrors; track $index) {
        <p-message severity="error" class="mt-2" icon="pi pi-times-circle" [text]="error.value" [closable]="false"
            variant="outlined"></p-message>
        }


        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="addSaleForm">
            <div class="card-body">
                <h5 class="card-title">تفاصيل البيع</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">الرقم الوطني للمشتري:</label>
                        <input type="text" class="form-control" formControlName="buyerNationalId"
                            placeholder="أدخل الرقم الوطني">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">رقم العقار:</label>
                        <input type="number" class="form-control" formControlName="propertyNumber"
                            placeholder="أدخل رقم العقار">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">السعر:</label>
                        <input type="number" class="form-control" formControlName="price" placeholder="أدخل السعر">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">صورة عن العقد :</label>
                        <input type="file" (change)="onFileChange($event)" class="form-control">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">الوصف:</label>
                        <textarea class="form-control" rows="3" formControlName="description"
                            placeholder="أدخل وصف العقار"></textarea>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <!-- الأطراف -->
    <div class=" flex-wrap gap-3 d-flex">
        <div class="card seller half card-outline">
            <h5 class="card-header rounded my-2">البائع</h5>
            <div class=" name d-flex align-items-center my-2" style="width: fit-content;">
                <span class="label me-2">اسم البائع : </span>
                <span class="value px-1 fs-5">{{seller?.fullName ?? 'غير متوفر'}}</span>
            </div>
            <div class=" nationalId d-flex align-items-center mb-2" style="width: fit-content;">
                <span class="label me-2 "> الرقم الوطني : </span>
                <span class="value px-1 fs-5">{{seller?.nationalId ?? 'غير متوفر'}}</span>
            </div>
            @if (seller) {

            <a [routerLink]="[ '/dashboard/customers/details/', seller?.customerId]" class="fs-3">عرض الملف الشخصي</a>
            }
        </div>
        <div class="card buyer half card-outline">
            <h5 class="card-header rounded my-2">المشتري</h5>

            <div class=" name d-flex align-items-center my-2" style="width: fit-content;">
                <span class="label me-2">اسم المشتري : </span>
                <span class="value px-1 fs-5">{{buyer?.fullName ?? 'غير متوفر'}}</span>
            </div>
            <div class=" nationalId d-flex align-items-center mb-2" style="width: fit-content;">
                <span class="label me-2 "> الرقم الوطني : </span>
                <span class="value px-1 fs-5">{{buyer?.nationalId ?? 'غير متوفر'}}</span>
            </div>
            @if (seller) {

            <a [routerLink]="[ '/dashboard/customers/details/', buyer?.customerId]" class="fs-3">عرض الملف الشخصي</a>
            }
        </div>
    </div>
    <!-- كارد معلومات العقار المسترجعة -->
    <div class="card property-details">
        <div class="card-title">معلومات العقار</div>
        <div class="row fs-4">
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1">
                <strong class="text-primary">العنوان :</strong>
                <p>{{property?.title ?? 'غير متوفر'}}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1">
                <strong class="text-primary">رقم العقار :</strong>
                <p>{{property?.propertyNumber ?? 'غير متوفر'}}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1">
                <strong class="text-primary">الموقع :</strong>
                <p>{{(property?.location && property?.address) ?
                    property?.location + '-'+ property?.address : 'غير متوفر'}}
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1">
                <strong class="text-primary">المساحة :</strong>
                <p>{{ property?.area ? property?.area + 'م²' : 'غير متوفر'}} </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1">
                <strong class="text-primary">التصنيف :</strong>
                <p>{{property?.categoryName ?? 'غير متوفر'}}</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1">
                <strong class="text-primary">اسم المالك :</strong>
                <p>{{property?.ownerFullName ?? 'غير متوفر'}}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1" style="flex: 1 1 100%;">
                <strong class="text-primary">الوصف:</strong>
                <p>{{property?.description ?? 'غير متوفر'}}</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex gap-1 justify-content-end" style="flex: 1 1 100%;">
                <a href="#" class="btn btn-primary rounded-pill py-1  px-4">عرض المزيد</a>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 m-auto mt-5 text-center">
        <button type="submit" form="addSaleForm" class="btn-save btn w-100" [disabled]="disabledSubmit">💾إضافة</button>
    </div>




</div>