<section class="featured-properties mt-5 p-0">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img [src]="notfoundImage" alt="" width="300px">
            <div class="text-center ">
                <h1 class="text-danger mb-4">الصفحة غير موجودة</h1>
                <h4 class="text-muted mb-4">عذرًا، الصفحة التي تبحث عنها غير موجودة.</h4>
                <a [routerLink]="['/']" class="btn btn-primary rounded-3 fs-1 py-2 mb-5">العودة إلى الصفحة الرئيسية</a>
            </div>
        </div>
    </div>
</section>