<div class="my-4">

    <input type="text" class="ng-primary" [(ngModel)]="message">
    <button (click)="sendMessage()">send</button>
</div>




<section class="pb-6">
    <div class="container">
        <div class="row flex-center">
            <div class="col-lg-6 col-md-5 order-md-1">
                <img src="assets/img/illustrations/Houses-pana.svg" alt="رسم توضيحي" class="img-fluid">
            </div>
            <div class="col-md-7 col-lg-6 mt-5 text-center text-md-end">
                <h1 class="fw-medium">
                    اكتشف أفضل العقارات بسهولة وثقة<br>
                    مع <span class="fw-bold text-primary">عقاراتنا</span>
                </h1>
                <p class="mt-3 fs-3 mb-4">
                    منصتنا تجعل رحلتك في البحث عن العقار أسهل من أي وقت مضى...
                </p>

                <a href="#" class="btn btn-lg btn-primary hover-top btn-glow">اكتشف عقارك الآن</a>
            </div>
        </div>
    </div>
</section>