@import "tailwindcss";
.text-primary {
  color: var(--bs-primary);
}

.navbar a.active {
  color: var(--bs-primary) !important;
  font-weight: 500;
}

.text-currency {
  color: rgb(10, 209, 10);
}

.p-paginator {
  background-color: white !important;
}
.p-paginator-page.p-paginator-page-selected {
  background-color: var(--bs-primary) !important;
  color: white !important ;
}

.p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover,
.p-paginator-first:not(.p-disabled):hover,
.p-paginator-prev:not(.p-disabled):hover,
.p-paginator-next:not(.p-disabled):hover,
.p-paginator-last:not(.p-disabled):hover {
  background-color: var(--bs-primary) !important;
  color: white !important;
}
.p-paginator button {
  background-color: #f8f8f8 !important;
}

.p-inputtext:enabled:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: var(--bs-primary) !important;
  outline: var(--p-inputtext-focus-ring-width) var(--bs-primary) !important;
  outline-offset: var(--bs-primary) !important;
}
.p-inputtext:enabled:focus + label {
  margin: 0;
  color: var(--bs-primary);
}
.p-ripple {
  border: none !important;
}
.p-datepicker-day-cell,
.p-datepicker-header {
  padding: 0 !important;
}
.p-datepicker .p-datepicker-panel {
  top: -300px;
}

.p-datepicker-header {
  height: 30px;
}
.p-button-text.p-button-secondary {
  padding: 0;
}
.p-button-label {
  color: white !important;
}
.text-warning-2 {
  color: rgb(250, 173, 6) !important;
}
.p-confirmdialog-message {
  font-size: 20px !important;
}

button.p-confirmdialog-reject-button span {
  color: black !important;
}
.router-link-active a {
  background-color: #0d6efd !important;
  color: white !important;
}
.p-button {
  background-color: var(--bs-primary) !important;
}
