/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.text-primary {
  color: var(--bs-primary);
}

* {
  direction: rtl;
}

.navbar a.active {
  color: var(--bs-primary) !important;
  font-weight: 500;
}

.text-currency {
  color: rgb(10, 209, 10);
}

.p-paginator {
  background-color: white !important;
}
.p-paginator-page.p-paginator-page-selected {
  background-color: var(--bs-primary) !important;
  color: white !important ;
}

.p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover,
.p-paginator-first:not(.p-disabled):hover,
.p-paginator-prev:not(.p-disabled):hover,
.p-paginator-next:not(.p-disabled):hover,
.p-paginator-last:not(.p-disabled):hover {
  background-color: var(--bs-primary) !important;
  color: white !important;
}
.p-paginator button {
  background-color: #f8f8f8 !important;
}

.p-button {
  background-color: var(--bs-primary) !important;
}

.p-inputtext:enabled:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: var(--bs-primary) !important;
  outline: var(--p-inputtext-focus-ring-width) var(--bs-primary) !important;
  outline-offset: var(--bs-primary) !important;
}
.p-inputtext:enabled:focus + label {
  margin: 0;
  color: var(--bs-primary);
}
.p-ripple {
  border: none !important;
}
